{% extends "layout.html" %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
    <h1>Todo List:</h1>
    <table class="table table-striped">
        <th>#</th><th>User</th><th>Description</th><th></th><th></th>
        {% for todo in todos.items %}
            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.user_id }}</td>
                <td>
                    <a href="{{ url_for('todo', id=todo.id) }}">
                       {{ todo.description }}
                    </a>
                </td>
                <td>
                    {% if todo.is_complete %}
                        <button type="submit" class="btn btn-xs btn-secondary" disabled>Completed</button>
                    {% else %}
                        <form method="post" action="{{ url_for('todo_POST', id=todo.id) }}">
                            <button type="submit" class="btn btn-xs btn-success" title="Mark Complete"><span class="glyphicon glyphicon-ok glyphicon-white"></span></button>
                            <input type="hidden" name="action" value="complete">
                        </form>
                    {% endif %}
                </td>
                <td>
                    <form method="post" action="{{ url_for('todo_POST', id=todo.id) }}">
                        <button type="submit" class="btn btn-xs btn-danger" title="Delete"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                        <input type="hidden" name="action" value="remove">
                    </form>
                </td>
            </tr>
        {% endfor %}
        {% for page in todos.iter_pages() %}
            <tr>
                {% if page %}
                    <a href="{{ url_for('todos', page_num=page) }}"> {{ page }} </a>
                {% else %}
                ...
                {% endif %}
            </tr>
        {% endfor %}
        <tr>
            <form method="post" action="{{ url_for('todos_POST') }}">
                <td colspan="3">
                    <input type="textbox" name="description" class="small-6 small-center" placeholder="Description...">
                </td>
                <td>
                    <button type="submit" class="btn btn-sm btn-primary">Add</button>
                </td>
            </form>
        </tr>
    </table>
</div>
{% endblock %}
